@import "../../variables.scss";

.form-control {
    border-radius: 5px !important;
    border: 1px solid $color-border !important;
    padding: 5px 10px !important;
    background: none !important;
    color: unset !important;
    height: $height-input !important;
    font-size: inherit !important;
}

.form-control:hover {
    border-color: $color-border-focus !important;
    outline: none !important;
}

.form-control:active,
.form-control:focus {
    border-color: $color-border-focus !important;
    outline: none !important;
    box-shadow: none !important;
    &:-webkit-autofill::first-line {
        font-size: inherit !important;
    }
}

.input-error.form-control {
    border-color: $color-danger !important;
}

.input-error {
    .ng-select-container {
        border-color: $color-danger !important;
    }
}

.ng-select {
    height: $height-input !important;

    .form-control,
    .form-control:active,
    .form-control:focus,
    .form-control:hover {
        border: none !important;
    }

    .ng-select-container:hover {
        border: 1px solid $color-border-focus;
        outline: none;
    }

    .ng-select-container {
        color: unset !important;
        border-color: $color-border;
    }
}

.ng-select.ng-select-focused:not(.ng-select-opened) {
    .ng-select-container {
        box-shadow: none;
        border: 1px solid $color-border-focus;
    }
}

.ng-select.ng-select-focused {
    .ng-select-container {
        border: 1px solid $color-border-focus;
    }
}

.theme-dark-blue {
    .today-class {
        background-color: #e6e8fb;
    }

    .bs-datepicker-body table td {
        color: unset;
    }

    .bs-datepicker-head {
        background-color: $color-theme !important;
    }

    .bs-datepicker-body table td span.selected,
    .bs-datepicker-body table td.selected span,
    .bs-datepicker-body table td span[class*="select-"]:after,
    .bs-datepicker-body table td[class*="select-"] span:after {
        background-color: $color-theme !important;
    }
}

.form-input {
    width: 100%;
    position: relative;

    .input-datepicker {
        padding-right: calc($height-input + 34px) !important;
    }

    .input-icon-left {
        padding-left: calc($height-input + 10px) !important;
    }

    .input-icon-right {
        padding-right: calc($height-input + 10px) !important;
    }
}

.ng-select .ng-select-container {
    height: $height-input !important;
    min-height: $height-input !important;
}

.bs-datepicker-head button.next span,
.bs-datepicker-head button.previous span {
    margin-top: -2px;
}

.bs-datepicker-head button.next span {
    margin-left: 1px;
}

.form-control:disabled {
    background-color: #e9ecef !important;
}

label.required::after {
    content: "*";
    color: #ff0000;
    margin-left: 3px;
}
